<div>
    <h3>This is demo Component</h3>
    <hr>
    <p><span>Directive Example:
            <code>&lt;div appBgcolor class="p-4"&gt;  This directive will add red background&lt;/div&gt;</code></span>
    </p>

</div>

<div class="form-group col-sm-6 px-0">
    <label class="font-weight-bold" for="exampleInputPassword1">Enter Color</label>
    <input type="text" class="form-control" [(ngModel)]="color">
</div>

<div [appBgcolor]="color" class="p-4">
    This directive will add red background
</div>